//- footer
//-   .container.text-center
//-     p.float-left © 2018 Company, Inc. All Rights Reserved
//-     ul.float-right.list-inline
//-       li.list-inline-item
//-         a(href='https://github.com/sahat/hackathon-starter') GitHub Project
//-       li.list-inline-item
//-         a(href='https://github.com/sahat/hackathon-starter/issues') Issues
footer
  .row
    .col.span-1-of-2
      ul.footer-nav
        li
          a(href='https://spiderum.com') Website
        li
          a(href='#') Press
    .col.span-1-of-2
      ul.social-links
        li
          a(href='#')
            i.ion-social-facebook
  .row
    p
      | Copyright © 2018 by Spiderum. All rights reserved.