doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='vendors/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='vendors/css/grid.css')
    link(rel='stylesheet', type='text/css', href='vendors/css/ionicons.min.css')
    link(rel='stylesheet', type='text/css', href='resources/css/style.css')
    link(rel='stylesheet', type='text/css', href='resources/css/queries.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,300italic', rel='stylesheet', type='text/css')

    link(rel='icon' href='resources/img/spiderum-logo.png' type='image/x-icon')

    meta(name='csrf-token', content=_csrf)
    title Cart
  body
    nav
      .row
        a(href='/')
          img.logo(src='resources/img/spiderum-logo.png', alt='Spiderum logo')
    section.section-cart
      .row
        h2 Your shopping cart
      .row
        table#shopping-cart-table
          thead
            tr
              th.index.text-right #
              th.name.text-left Name
              th.price.text-right Price
              th.quantity.text-center Quantity
              th.subtotal.text-right Subtotal
              th.actions.text-center Actions
          tbody
            tr
              td.text-right 1
              td.text-medium Book + Thank you Letter
              td.text-right.text-medium.text-primary 149.000 vnd
              td.text-center 2
              td.text-right.text-medium.text-primary 298.000 vnd
              td.text-center
                a.btn.btn-danger Delete
            tr
              td.text-right 2
              td.text-medium Giftbox: Book + Bookmark + Shirt + Notebook + Thank you Letter + Website Badge (free shipping)
              td.text-right.text-medium.text-primary 469.000 vnd
              td.text-center 1
              td.text-right.text-medium.text-primary 469.000 vnd
              td.text-center
                a.btn.btn-danger Delete
            tr
              td.text-right 3
              td.text-medium Book + Bookmark + Shirt + Thank you Letter
              td.text-right.text-medium.text-primary 2.000.000 vnd
              td.text-center 3
              td.text-right.text-medium.text-primary 6.000.000 vnd
              td.text-center
                a.btn.btn-danger Delete
          tfoot
            tr
              td.text-right(colspan='5')
                strong Total
                h4.text-primary 6.767.000 vnd
    section.section-form
      .row
        h2 Cám ơn bạn đã đặt hàng
      .row
        form.contact-form(method='post', action='/api/save-order')
          input(type='hidden', name='_csrf', value=_csrf)
          .row
            .col.span-2-of-5
              label(for='name') Tên
            .col.span-3-of-5
              input#name(type='text', name='name', placeholder='Tên của bạn', required='')
          .row
            .col.span-2-of-5
              label(for='username') Tên đăng nhập Spiderum
            .col.span-3-of-5
              input#name(type='text', name='username', placeholder='Tên đăng nhập Spiderum (nếu có)', required='')
          .row
            .col.span-2-of-5
              label(for='email') Email
            .col.span-3-of-5
              input#email(type='email', name='email', placeholder='Email', required='')
          .row
            .col.span-2-of-5
              label Địa chỉ
            .col.span-3-of-5
              textarea(name='address', placeholder='Địa chỉ')
          .row
            .col.span-2-of-5
              label(for='find-us') Find us by
            .col.span-3-of-5
              select#find-us(name='find-us')
                option(value='Facebook', selected='') Facebook
                option(value='Google') Google
                option(value='Spiderum') Spiderum
                option(value='Friends') Friends
                option(value='Other') Other
          .row
            .col.span-2-of-5
              label  
            .col.span-3-of-5
              input(type='submit', value='Mua')
    footer
      .row
        .col.span-1-of-2
          ul.footer-nav
            li
              a(href='https://spiderum.com') Website
            li
              a(href='#') Press
        .col.span-1-of-2
          ul.social-links
            li
              a(href='#')
                i.ion-social-facebook
      .row
        p
          | Copyright © 2018 by Spiderum. All rights reserved.

    // NOTE[TRUNG] JS file for animation
    script(src='/js/lib/jquery.min.js')
    script(src='/js/main.js')
